{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Informations générales
{% endblock %}

{% block content %}

    <p>
        Dans le cadre de son 2nd mandat, le Président-Recteur souhaite développer la recherche des Facultés
        de l’Université Catholique de Lille. Ce développement se traduit, notamment, par l’augmentation du nombre
        d’équivalents temps plein (ETP) recherche. Il s’agirait de passer d’environ 60 ETP recherche actuellement,
        à 80 au terme du 2nd mandat.<br>
        Sur une base de 1600 heures d’activité annuelle réparties ente 60% d’activité pédagogique et 40% d’activité
        de recherche, rappelons que 20 ETP recherche correspondent à 50 maîtres de conférences (MCF).
        Sur une période de 5 ans, il s’agit d’un essor en effectif de 10 MCF par an.<br>
        Dans ce contexte, répartir les moyens de ce développement entre les différentes entités des Facultés
        est un enjeu stratégique. L’objectif du jeu qui va suivre est de déterminer les conditions
        d’une allocation réussie de ces ressources.<br>
    </p>
    {% next_button %}

{% endblock %}