{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Enter Pain Page
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center" style="background-color:white;">
                {% formfield player.pain_1 with label="How do you feel 1?" %}
                {% formfield player.pain_2 with label="How do you feel 2?" %}
                {% formfield player.pain_3 with label="How do you feel 3?" %}
                {% formfield player.pain_4 with label="How do you feel 4?" %}
                {% formfield player.pain_5 with label="How do you feel 5?" %}
                {% formfield player.pain_6 with label="How do you feel 6?" %}
                {% formfield player.pain_7 with label="How do you feel 7?" %}
                {% formfield player.pain_8 with label="How do you feel 8?" %}
                {% next_button %}
            </div>
        </div>
    </div>

{% endblock %}
