{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <h1 align="center">Récapitulatif</h1>
{% endblock %}

{% block content %}
    <!-- <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center" style="background-color:whitesmoke;">
            <p>
                L'expérience est maintenant terminée, les résultats seront commentés après la session<br>
                <b>Merci pour votre participation</b>
            </p>
          </div>
        </div>
    </div>
{% endblock %}
